```css
body{

font-family:Arial;
background:#f2f2f2;
text-align:center;

}

h1{

background:green;
color:white;
padding:20px;

}

.box{

background:white;
width:400px;
margin:20px auto;
padding:20px;
border-radius:10px;

}

input,select{

width:80%;
padding:8px;
margin:5px;

}

button{

background:green;
color:white;
border:none;
padding:10px;
cursor:pointer;

}

.fake{

color:red;
font-weight:bold;

}
```
